.avunu {
    background-color: #0d0d1f;
    padding: 80px 0px; 
}

.tea {
    margin-left: 12%;
}

.madhu {
    margin-top: -2%;
    margin-left: 75%;
}

.butt {
    position: absolute;
    margin-top: -20%;
    margin-left: 90%;
}
